{:github-username "name"
 :github-token "token" ; needs permission to read org members
 :datomic-username "greg.stewart@red-badger.com"
 :datomic-password "xxx" ; ask Greg or Viktor
 :datomic-db-uri "datomic:dev://localhost:4334/oss-tracker"}
